footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videoLinks {
    display: flex;
    justify-content: space-around;
}

header > h1 {
    text-align: center;
}

.homePage {
    text-align: center;
}

img {
    width: 200px;
}