html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: skyblue;
}

footer > img {
    border-radius: 50%;
    width: 10%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    padding: 10px
}

.analysis {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.selections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    align-items: center;
    padding: 20px;
}

input {
    margin-left: 10px;
}

header > img {
    border-radius: 50%;
}

.videoLinks {
    display: flex;
    justify-content: space-around;
}

.homePage, .facts, .homeHeading {
    text-align: center;
}

.content, .videoLinks, .csv {
    margin: 20px;
}

.content {
    text-align: center;
}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 30%;
}

.csv {
    text-align: center;
}

.facts > p {
    font-weight: bold;
}

img {
    width: 200px;
}