html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.homeLink {
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(254, 247, 218);
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: skyblue;
    padding: 10px;
    font-weight: bold;
    border: 1px solid rgb(254, 247, 218);
    border-radius: 5px;
    box-shadow: 0px 0px 15px skyblue;
    cursor: pointer;
}

footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: skyblue;
}

footer > img {
    border-radius: 50%;
    width: 10%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: skyblue;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    padding: 10px
}

.analysis {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.selections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

label {
    display: flex;
    align-items: center;
    padding: 20px;
}

input {
    margin-left: 10px;
}

header > img {
    border-radius: 50%;
}

.videoLinks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.links {
    margin: 20px;
}

.processing {
    text-align: center;
}

.csvBlock {
    display: block;
    margin-top: 15px;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.homePage, .facts, .homeHeading {
    text-align: center;
}

.content, .videoLinks, .csv {
    margin: 20px;
}

.content {
    text-align: center;
}

input[type="range"] {
    width: 300px;
}

.thresholdValue {
    margin-left: 10px;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black
}

.facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 30%;
}

.links, .csvBlock {
    background-color: skyblue;
    padding: 10px;
    border: 1px solid rgb(254, 247, 218);
    border-radius: 5px;
    box-shadow: 0px 0px 15px skyblue;
    text-transform: uppercase;
}

.csv {
    text-align: center;
}

.facts > p {
    font-weight: bold;
}

img {
    width: 200px;
}

canvas
{
    width: 350;
    margin: 10px;
}